// Place all the styles related to the Opportunities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    
    
}



.opportunities {
    display: flex;
    width: 96%;
    flex-wrap: wrap;
    padding: 0 2% 0 2%;
    float: left;
}

.my_profile_left{
    order:  1;
    margin-right: 2%;
    max-width: 36%;
    min-width: 32% ;
    border:1px solid rgb(71, 192, 179);
}

.my_profile_right{
    
    order:  2;
    flex-grow: 2;
    box-sizing: border-box;
    max-width: 66%;
    min-width: 50%;
    text-align: center;
    //border:1px solid black;
}
